# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Venvs
.venv/
venv/
env/

# Locale Daten
data/*.db
data/*.db-wal
data/*.db-shm
data/*.sqlite

# Env
.env

# Editor
.vscode/
.idea/
*.swp
